<!DOCTYPE html>
<html lang="en">

<head>
  <title>JUDUL</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="jquery.min.js"></script>
  <script src="popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link text-white active" aria-current="page" href="index.php">Home - Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="departments.php">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="lecturers.php">lecturers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="faculties.php">Faculties</a>
              </li>
            </ul>
            <span class="navbar-brand text-white" href="#"><strong>Universitas</strong></span>
          </div>
        </div>
      </nav>
    <div class="container-fluid mt-5 align-center">
        <div class ="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mx-auto my-5">
                <div class="card p-5 mr-3">
                    <h2 class="card-title">Tambah Departemen</h2>
                    <form action="departments.php" method="POST">
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="name">Nama Departemen</label>
                                <input type="text" class="form-control" name="name" required />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <label for="faculties">Fakultas</label>
                                <select class="form-select" name="faculties" required>
                                    <option selected disabled value="">Pilih Fakultas</option>
                                    OPTION
                                </select>
                            </div>
                        </div>

                        <button type="submit" name="add" class="btn btn-primary mt-3">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col -12 col-sm-12 col-md-12 col-lg-12 mt-4">
            <h1 class="text-center"></h1>
            <table class="table" border="1">
                <tr class="text-center align-middle table-danger">
                    <td class="col-2">ID</td>
                    <td class="col-6">Nama Departemen</td>
                    <td class="col-2">Fakultas</td>
                    <td class="col-2">Action</td>
                </tr>
                DATA_TABEL
            </table>
        </div>
    </div>  
    <script src="popper.min.js"
        integrity="sha384-Ol6v4+0g5h8e1f3c5b
        crossorigin="anonymous"></script>
    </body>
</html>